@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Inter:wght@200&display=swap')
	;
/* index.html start */
body {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

#agenda-image {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.default-link {
	text-decoration: none;
	font-size: 18px;
	font-family: 'Comfortaa';
	color: white;
	cursor: pointer;
	border: 1px solid none;
	border-radius: 6px;
	background-color: rgb(190, 190, 190);
	padding: 10px;
	cursor: pointer;
	transition: box-shadow 300ms ease-out;
}

.default-link:hover {
	box-shadow: 0px 0px 3px 2px rgba(252, 189, 0, 0.84);
}

.acess-link {
	text-align: center;
	margin: 1px auto;
	display: block;
	width: 250px;
}
/* index.html ends */

/* agenda.jsp start */
.page-title {
	text-align: center;
	font-family: 'Comfortaa';
	font-weight: bold;
}

#table-contacts {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	padding: 10px;
	background-color: white;
	border-radius: 6px;
	font-family: 'Inter', 'Helvetica', sans-serif;
	color: white;
}

#table-contacts td {
	margin: 5px;
	padding: 5px;
	background-color: rgb(170, 170, 170);
}

#table-contacts th {
	color: black;
	font-weight: bold;
}

#table-contacts td:nth-child(2n+1) {
	background-color: grey;
}

.bottons {
	text-align: center;
	margin: auto;
}

.bottons a {
	cursor: pointer;
	font-family: 'Comfortaa';
	color: white;
	text-decoration: underline;
	font-family: 'Comfortaa';
}

#edit-botton:hover {
	color:yellow!important;
}
#delete-botton:hover {
	color:red!important;
}